state_bucket = "bucket"
state_key = "key"
state_region = "us-east-1"
state_lock_table = "table"
state_profile = "default"

profile = "default"
region = "us-east-1"

default_tags = {}

count_azs = "3"
vpc_first_two_octets = "0.0"
vpc_base_name = "load-test-service"
external_access_cidrs = "0.0.0.0/0"

cluster_name = "load-test-service"

aws_account_id = "00000"
